body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

.eerstekolom {
    font-weight: bold;
    background-color: #020A1D;
    color: white;
    width: 75px;
    padding: 15px;
}

.eersterij {
    background-color: #FA6533;
    color: white;
}

td, th {
    border: solid 1px black;
    text-align: center;
    padding: 10px;
}